.main-div{width: 100%;}
.main-div img{width: 100%;}







.third-div{width: 100%;display: flex;
    height: 20em;align-items: center
;justify-content: center;
gap: 10%;}

.third-div div{
    display: flex;
    flex-direction: column;
    border-radius: 50%;
border: 1px solid red;}

    




.div-four{width: 100%;display: flex;}
.div-four p{width: 50%;}




.fifth-div{display: flex;justify-content: space-between;}

.fifth-div p{font-size:2.2rem;font-weight: bold;}