::-webkit-scrollbar {
    width: 10px; 
    background-color: rgb(255, 255, 255);
  }
  ::-webkit-scrollbar-thumb {
    background-color: #333333; 
    border-radius: 4px;}






    *{
        padding: 0;
        margin: 0;
    text-decoration: none;
    list-style: none;
    text-transform: capitalize;
    font-family: Georgia;
    
    }
  
  body{width: 100%;overflow-x: hidden;}
  
  
      nav{height: 100px;position: fixed;width: 100%;z-index: 1;
          
          
          background-color:rgb(13, 13, 162);}
  
      nav ul{float:right;right: -100%;z-index: 1;}
      
      nav ul li{display: inline-block;
          background-color: rgb(255, 255, 255);
      border: 1px solid white;border-radius: 10px;
      padding: 8px;margin-top: 3%;
    animation: saly;
animation-timing-function: ease;
animation-duration: 500ms;
    }

@keyframes saly{
    0%{transform:scale(0)};
    
    
    100%{transform:scale(1)};
}

  
      nav ul li a{color: black;font-size: 30px;font-weight: bold;
      font-family: 'Times New Roman';}
      nav ul li a:hover{color: var(--second-color);}
      nav ul li:hover{background-color: rgb(0, 200, 255);}
  
     
  
      .logo{font-size: 70px;
          text-align: center;
          font-weight: bolder;
          font-family: cursive;
      color: rgb(255, 255, 255);
          text-transform: capitalize;
          margin-left: 6%;
          line-height: 100px;}
  
          .logo:hover{color:orangered;
  
          }
  
          #check{display: none;}
          .btn{display: none;font-size: 40px;float: right;
          margin:20px;cursor: pointer;
          }
          .btn:hover{color: white;}
  
          @media (max-width:1115px)
  
               {
                  #check:checked ~ ul{width: 100%;right:0;}
                  .btn{display: block;}
                  nav ul{width: 100%;
                      height: 100%;
                      position: fixed;
                      
                  background-color: rgb(122, 122, 122);}
                  nav ul li{display: block;text-align: center;}
              
          }
  
  
  

       
.lastdiv{width: 100%;
    
    background-image: url(maxresdefault.jpg);
    background-size: contain;
    align-items: end;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;}

    .lastdiv div{width:10em;
height: 10em;
flex-grow: 1;
display: flex;
justify-content: space-evenly;
align-items: center;
border-radius:6px}



    .divone{background-color: rgba(159, 9, 9,0.4);
    color: white;}

        .divtwo{background-color: rgba(13, 13, 162,0.4);
        color: white;}
        
        .divthree{background-color: rgba(10, 169, 10,0.4);
        text-align: center;
    color: white;}

        .divfour{background-color: rgba(253, 253, 3,0.4);
        display: flex;
        align-items: center;
        
    }

    .divfour i{font-size: 2.6em;}
    .divfour i:hover{transform: scale(1.9);}





    .drop{position: relative;}
    nav .list-1{display: flex;
    flex-direction: column;
    position: absolute;
    left: -30%;
    top: 103%;
    height: 9.2em;
    margin: 0;
    padding: 0;
    display: none;
    width: 15em;
    }
    nav .list-1 a{font-size: 1.2em;color: rgb(255, 255, 255);}
    nav ul ol li{background-color: blue;
        
        color: white;}
    nav ul ol li{margin-top: 1px;}
    nav .drop:hover ol{display:flex;}
    
    
    
    
    
    .down{position: relative;}
    
    
    .list-2{display: flex;
    flex-direction: column;position: absolute;
    top:103%;width: 100%;
    left: 0;
    display: none;
    }
    
    .down:hover .list-2{display: flex;}
    
    


    
    
    
    